tr
  td(data-bind="text: key")
  // ko if: value.type == 'translation'
  // ko foreach: value.texts
  td(data-bind="text: $data")
  // /ko
  // /ko
// ko if: value.type === 'map'
// ko template: {name: 'translation-group-template', foreach: value.children}
// /ko
// /ko
