doctype html
html
  head
    meta(charset='UTF-8')
    title I18n Edit
    link(rel="stylesheet" href="../../bower_components/pure/pure-min.css")
  body
    h1 File
    table.pure-table
      thead
        tr
          th キー
          // ko foreach: languages
          th(data-bind="text: $data")
          // /ko
      // ko template: {name: 'translation-group-template', data: root}
      // /ko
    pre(data-bind="text: ko.toJSON($data, null, 2)")
    script.
      require('coffee-script/register');
      require('../../app/index');
      //require('sqlite3');
