doctype html
html
  head
    meta(charset='UTF-8')
    title I18n Edit
    link(rel="stylesheet" href="../../bower_components/pure/pure-min.css")
  body
    h1 File
    table.pure-table
      thead
        tr
          th キー
      tr
        td
          view
      tr
        td(style='padding-left: 40px;') hoge
